html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex: 1;
  gap: 10px;
}

.container.column {
  flex-direction: column;
}

img {
  flex-shrink: 0;
}

/* Image shadows */
img.placeholder-image, .image-group img {
  box-shadow:
      0 1px 1px #00000013,
      0 2px 2px #00000013,
      0 4px 4px #00000013,
      0 8px 8px #00000013,
      0 16px 16px #00000013
    ;
}

header > div {
  margin-top: 20px;
  align-items: center;
}

.header-left {
  margin-left: 200px;
  justify-content: flex-start;
}

.header-right {
  margin-right: 200px;
  justify-content: flex-end;
}

.header-logo {
  height: auto;
  width: 60px;
  padding-right: 10px;
}

.header-logo-text {
  font-size: 24px;
  color: #f9faf8;
}

a {
  text-decoration: none;
  padding: 0 10px;
}

header, .hero, footer {
  align-items: center;
  background-color: #1f2937;
}

.hero div {
  margin-left: 200px;
}

.hero-main-text {
  font-size: 60px;
  font-weight: 900;
  color: #f9faf8;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-secondary-text, .header-link-text {
  font-size: 18px;
  color: #e5e7eb;
}

button, .call-to-action {
  background-color: #3882f6;
  border-radius: 10px;
  color: #f9faf8;
}

button {
  padding: 12px 40px;
  align-self: flex-start;
  font-weight: bold;
  border: none;
}

img.placeholder-image {
  height: auto;
  width: 700px;
  margin: 100px 200px 100px 100px;
  border-radius: 14px;
}

.images-block {
  text-align: center;
  justify-content: center;
  gap: 58px;
  margin-bottom: 50px;
}

.information {
  justify-content: center;
  margin-bottom: 32px;
  margin-top: 50px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.image-group img {
  height: auto;
  width: 200px;
  border-radius: 14px;
}

.image-text.label {
  margin-top: 8px;
}

.image-text.description {
  font-style: italic;
}

.quote-block {
  background-color: #e5e7eb;
}

.quote {
  margin-left: 425px;
  margin-right: 425px;
  padding: 20px;
  color: #1f2937;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 0;
}

.quote-author {
  text-align: right;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}

.call-to-action {
  margin: 100px 300px;
  padding: 50px 150px;
}

.call-to-action-title {
  font-size: 30px;
  font-weight: 700;
}

.call-to-action-title, .call-to-action-text {
  margin: 0;
}

.button2 {
  border: 2px solid white;
  align-self: center;
}

footer {
  color: #f9faf8;
  padding: 5px;
  text-align: center;
}